---
layout: page
title: Blog

---
<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Get the latest on what we're doing</h1>
          <p>Catch up with us, anytime and anywhere</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% for post in paginator.posts %}
<div class="post-area">
  <a href="{{ post.url | prepend: site.url }}" class="bold">{{ post.title }}</a>
  <p class="post-date">{{ post.date | date_to_long_string }}</p>
  <p>
    {{ post.content | strip_html | truncatewords: 50 }}
  </p>
</div>
{% endfor %}


<div class="pagination">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}" class="previous">Anterior</a>
  {% else %}
  <span class="previous">Anterior</span>
  {% endif %}

  <span class="page_number">Página: {{paginator.page}} de {{paginator.total_pages}}</span>
  {% if paginator.next_page %}
  <a href="{{paginator.next_page_path}}" class="next">Próxima</a>
  {% else %}
  <span class="previous">Próxima</span>
  {% endif %}
</div>

<!-- Verificar pq os posts n estão aparencendo -->