body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#content {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#room {
  background-color: #ddd;
  margin-bottom: 1em;
}

#messages {
  width: 690px;
  height: 300px;
  overflow: auto;
  background-color: #eee;
  margin-bottom: 1em;
  margin-right: 10px;
}

#room-list {
  float: right;
  width: 100px;
  height: 300px;
  overflow: auto;
}

#room-list div {
  border-bottom: 1px solid #eee;
}

#room-list div:hover {
  background-color: #ddd;
}

#send-message {
  width: 700px;
  margin-bottom: 1em;
  margin-right: 1em;
}

#help {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.task-content {
  border: 1px solid #e3e3e3;
  background: white;
  padding: 5px 20px;
  color: #333;
}
.priority {
  background: gray;
  -moz-transform: rotate(270deg);
  transform: rotate(270deg);
  height: 27px;
  width: 68.8px;
  position: absolute;
  right: 82px;
  top: 21px;
  text-align: center;
  padding: 4px 0;
}
.priority[data-priority="Alta"]{
  background-color: red;
}
.priority[data-priority="Média"]{
  background-color: teal;
}
.priority[data-priority="Baixa"]{
  background-color: yellow;
}
body{
  //background:  #ff5db1; /* Old browsers */
  //background: -webkit-linear-gradient(135deg, #ff5db1, #ef017c, #c40186); /* For Safari 5.1 to 6.0 */
  //background: -o-linear-gradient(135deg, #ff5db1, #ef017c, #c40186);  For Opera 11.1 to 12.0 
  //background: -moz-linear-gradient(135deg, #ff5db1, #ef017c, #c40186); /* For Firefox 3.6 to 15 */
  //background: linear-gradient(135deg, #ff5db1, #ef017c, #c40186); /* Standard syntax */

  background-color: #fafafa;
  min-height: 100vh;
}